<div style="width: 100%; display: flex; flex-flow: row wrap; height: 265px;">
    <div id="graphical_data">
        <app-monitor-ecg></app-monitor-ecg>
        <app-monitor-sp-o2-graph></app-monitor-sp-o2-graph>
        <app-monitor-br-graph></app-monitor-br-graph>
    </div>

    <div id="numerical_data">
        <app-monitor-heart-rate></app-monitor-heart-rate>
        <app-monitor-spo2></app-monitor-spo2>
        <app-monitor-breathing-rate></app-monitor-breathing-rate>
        <app-monitor-temperature></app-monitor-temperature>
    </div>
</div>
<div>
    <app-monitor-bp></app-monitor-bp>
</div>

<!--<div style="width: 532px; background-color: black;">
    CHECK</div>-->
