#graphical_data {
    display: inline-block; 
    //margin-right: 10px; 
    width: 420px;
    margin-top: 10px;
    //border-style: dotted;
    height: 300px;
}

#numerical_data {
    display: inline-block; 
    width: 80px;
    //border-style: dotted;
    margin-top: 10px;
    height: 300px;
}