<div class="top">
    <img [src]='warning' class="warning_visible">
    <img [src] = 'currPic' style="width: 20px; position: relative; left:0;">
    <b><label style="font-size: xx-small; 
                     color: black;
                     border:solid;
                     vertical-align: 0%;
                     background-color: cadetblue;
                     margin-top: 0px;
                     "
        >
BPM
</label></b>
</div>
<div class="square">
    <br/>
    <b><label class="HR">{{heartRate.hr}}</label></b>
</div>