table{
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: unset;
    margin-right: unset;
}

.col_class {
    width: 50px;
}

.roundImg{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.make-red {
    background-color: red;
}

.make-orange {
    background-color: orange;
}

.make-yellow {
    background-color: yellow;
}

.make-green {
    background-color: greenyellow;
}